body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Course_Catalog_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:106px;
    top:0px;
    width:1295px;
    height:674px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1301px;
    height:680px;
}

.u1 {
    position:absolute;
    left:2px;
    top:329px;
    width:1291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../Course_Catalog_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:679px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:676px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:669px
}

.u4_normal {
    background-image: url('../Course_Catalog_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Course_Catalog_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Course_Catalog_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:34px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:40px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Course_Catalog_files/u8_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:74px;
    width:100px;
    height:34px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:40px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Course_Catalog_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:108px;
    width:100px;
    height:556px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:562px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:176px;
    top:45px;
    width:150px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

