body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Bookstore_Blank_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:106px;
    top:0px;
    width:1295px;
    height:674px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1301px;
    height:680px;
}

.u1 {
    position:absolute;
    left:2px;
    top:329px;
    width:1291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:619px;
    top:201px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_menu {
    background-image: url('../Bookstore_Blank_files/u3_menu.png');
}

.u3_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:679px;
}

#u3_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:676px;
}

#u4 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:669px
}

.u5_normal {
    background-image: url('../Bookstore_Blank_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Bookstore_Blank_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Bookstore_Blank_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:34px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:40px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Bookstore_Blank_files/u9_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:74px;
    width:100px;
    height:34px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:40px;
}

.u13 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Bookstore_Blank_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:108px;
    width:100px;
    height:556px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:562px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

